<table border="1" width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" width="50">
            <div id="learn_colors_%zone_id%"></div>
            <br />
            <div>
                <span style="font-size: 10px;">Stroke width:</span>
                <br />
                <a href="javascript:;" class="learn_stroke_width" data-draw-id="%zone_id%" style="border:1px solid black; padding:2px; font-size:11px;" data-value="1">1</a>
                <a href="javascript:;" class="learn_stroke_width" data-draw-id="%zone_id%" style="border:1px solid black; padding:2px; font-size:11px;" data-value="2">2</a>
                <a href="javascript:;" class="learn_stroke_width" data-draw-id="%zone_id%" style="border:1px solid black; padding:2px; font-size:11px;" data-value="3">3</a>
                <a href="javascript:;" class="learn_stroke_width" data-draw-id="%zone_id%" style="border:1px solid black; padding:2px; font-size:11px;" data-value="4">4</a>
                <a href="javascript:;" class="learn_stroke_width" data-draw-id="%zone_id%" style="border:1px solid black; padding:2px; font-size:11px;" data-value="5">5</a>
            </div>
            <br />
            <input type="button" class="learn_instrument" data-type="path" data-draw-id="%zone_id%" value="Pencil" />
            <br />
            <input type="button" class="learn_instrument" data-type="eraser" data-draw-id="%zone_id%" value="Eraser" />
            <br />
            <input type="button" class="learn_instrument" data-type="line" data-draw-id="%zone_id%" value="Line" />
            <br />
            <input type="button" class="learn_instrument" data-type="circle" data-draw-id="%zone_id%" value="Circle" />
            <br />
            <input type="button" class="learn_instrument" data-type="rect" data-draw-id="%zone_id%" value="Rect" />
            <br />
            <input type="button" class="learn_instrument" data-type="text" data-draw-id="%zone_id%" value="Text" />
            <br />
            <input type="button" class="learn_instrument" data-type="highlighter" data-draw-id="%zone_id%" value="Highlighter" />
            <br />
            <input type="button" class="learn_instrument" data-type="image" data-draw-id="%zone_id%" value="Image" />
            <br />
            <input type="button" class="save_svg" data-draw-id="%zone_id%" value="Save board" />
            <br />
        </td>
        <td>
            <div id="svg_holder_%zone_id%">
                {% if file_content|length %}
                    {{ file_content|raw }}
                {% else %}
                    <svg style="overflow: hidden; position: relative;" height="1500" width="1550" id="svg_%zone_id%" data-draw-id="%zone_id%" class="learn_svg" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                    </svg>
                {% endif %}
            </div>
        </td>
    </tr>
</table>