<table style="width:100%;" border="1">
    <tr>
        <td id="resizable_%zone_id%" class="code_frame" valign="top">
            <textarea id="highlighter_textarea_%zone_id%" data-zone-id="%zone_id%" style="display: none;">{{ text }}</textarea>
        </td>
    </tr>
</table>