Choose programming language:
<select id="programming_language_%zone_id%" data-zone-id="%zone_id%">
    <option value="c" data-mime="text/x-csrc">C</option>
    <option value="cplus" data-mime="text/x-c++src">C++</option>
    <option value="java" data-mime="text/x-java">Java</option>
    <option value="clojure" data-mime="text/x-clojure">Clojure</option>
    <option value="coffeescript" data-mime="text/x-coffeescript">CoffeeScript</option>
    <option value="commonlisp" data-mime="text/x-common-lisp">Common Lisp</option>
    <option value="css" data-mime="text/css">CSS</option>
    <option value="d" data-mime="text/x-d">D</option>
    <option value="diff" data-mime="text/x-diff">diff</option>
    <option value="ecl" data-mime="text/x-ecl">ECL</option>
    <option value="erlang" data-mime="text/x-erlang">Erlang</option>
    <option value="go" data-mime="text/x-go">Go</option>
    <option value="groovy" data-mime="text/x-groovy">Groovy</option>
    <option value="haskell" data-mime="text/x-haskell">Haskell</option>
    <option value="haxe" data-mime="text/x-haxe">Haxe</option>
    <option value="htmlmixed" data-mime="text/html">HTML mixed-mode</option>
    <option value="http" data-mime="message/http">HTTP</option>
    <option value="javascript" data-mime="text/javascript">JavaScript</option>
    <option value="less" data-mime="text/x-less">LESS</option>
    <option value="lua" data-mime="text/x-lua">Lua</option>
    <option value="ntriples" data-mime="text/n-triples">NTriples</option>
    <option value="ocaml" data-mime="text/x-ocaml">OCaml</option>
    <option value="pascal" data-mime="text/x-pascal">Pascal</option>
    <option value="perl" data-mime="text/x-perl">Perl</option>
    <option value="php" data-mime="application/x-httpd-php">PHP</option>
    <option value="python" data-mime="text/x-python">Python</option>
    <option value="r" data-mime="text/x-rsrc">R</option>
    <option value="ruby" data-mime="text/x-ruby">Ruby</option>
    <option value="rust" data-mime="text/x-rustsrc">Rust</option>
    <option value="sass" data-mime="text/x-sass">Sass</option>
    <option value="scheme" data-mime="text/x-scheme">Scheme</option>
    <option value="shell" data-mime="text/x-sh">Shell</option>
    <option value="smalltalk" data-mime="text/x-stsrc">Smalltalk</option>
    <option value="smarty" data-mime="text/x-smarty">Smarty</option>
    <option value="sql" data-mime="sql">SQL</option>
    <option value="mysql" data-mime="text/x-mysql">MySQL</option>
    <option value="plsql" data-mime="text/x-plsql">PlSQL</option>
    <option value="stex" data-mime="text/x-stex">sTeX, LaTeX</option>
    <option value="vb" data-mime="text/x-vb">VB.NET</option>
    <option value="vbscript" data-mime="text/vbscript">VBScript</option>
    <option value="velocity" data-mime="text/velocity">Velocity</option>
    <option value="xml" data-mime="application/xml">XML/HTML</option>
    <option value="xquery" data-mime="application/xquery">XQuery</option>
    <option value="yaml" data-mime="text/x-yaml">YAML</option>
    <option value="z80" data-mime="text/x-z80">Z80</option>
</select>
<input type="button" name="name" value="Set language" class="set_language_button" data-zone-id="%zone_id%">
<table style="width:100%;" border="1">
    <tr>
        <td id="resizable_%zone_id%" class="code_frame" valign="top" style="width:50%">
            <textarea id="highlighter_textarea_%zone_id%" data-zone-id="%zone_id%" style="display: none;"></textarea>
        </td>
        <td class="result_frame" id="result_frame_%zone_id%" valign="top">
            <input type="button" id="execute_code_button_%zone_id%" data-zone-id="%zone_id%" value="Execute code">
            <iframe src="" id="code_execution_iframe_%zone_id%" style="width: 100%; height:90%; border:1px solid red;"></iframe>
        </td>
    </tr>
</table>