<div id="board_programming" class="learn_board">
    <div id="board_items_tabs">
        <a href="javascript:;" class="wb3_add_blank_file">+</a>
    </div>
    <input type="hidden" id="board_{{ board }}_namespace" value="{{ teacher_folder }}">
    <br clear="all" />
    <div></div>
    <div class="programming_board_subfiles">
        
    </div>
</div>
