<div id="board_languages" class="learn_board">
    <div id="wb2_items_tabs" class="tabs_placeholder">
        {% if text_list|length %}
            <span class="wb2_add_blank_file">
                <select id="texts_list">
                    {% for item in text_list %}
                        <option value="{{ item.text_hash }}">{{ item.text_name_public }}</option>
                    {% endfor %}
                </select>
                <input type="button" id="add_text_sheet" value="Add text" />
            </span>
        {% endif %}
    </div>
    <br clear="all" />
    <div></div>
    <div class="wb2_board_subfiles">
        
    </div>
</div>
