<div id="board_presentation" class="learn_board">
    <div id="wb4_items_tabs" class="tabs_placeholder">
        {% if presentation_list|length %}
            <select id="teacher_presentations_select">
                {% for item in presentation_list %}
                    <option value="{{ item.presentation_hash }}">{{ item.presentation_name }}</option>
                {% endfor %}
            </select>
            <input type="button" id="add_presentation_btn" value="Add presentation" />
        {% endif %}
    </div>
    <br clear="all" />
    <div></div>
    <div class="presentation_board_subfiles">
        
    </div>
</div>
