Hello!
<br/>
<br/>
to finish the registration process on <a href="http://www.learn.md">www.learn.md</a> please click on the following link: <a href="{{ activation_link }}">{{ activation_link }}</a>
<br/>
<br/>
<i><span style="font-size: 11px">If you did not register on www.learn.md please ignore this message, your email will be soon deleted from our database.</span></i>
<br/>
<br/>
Have a beautiful day!
<br/>
learn.md TEAM