{% extends '::base.html.twig' %}

{% block body %}
    <h2>Password recovery</h2>
    <form action="{{ path('password_recovery') }}" method="post">
        <label for="email">Please enter your email:</label>
        <input type="email" name="email" id="email" required="required">
        <br />
        <input type="submit" class="btn btn-success" value="send password">
    </form>
{% endblock %}