.colorpicker_item {
    float:left; 
    width:15px; 
    height:15px; 
    margin-left:3px;
}
.board_cursor {
    position:absolute;
    background-image: url(../../img/mouse-cursor.png);
    width: 12px;
    height: 20px;
}
#boards_tabs div, #board_items_tabs div, #wb1_items_tabs div, #wb4_items_tabs div, #wb2_items_tabs div {
    padding: 3px;
    margin: 2px;
    border: 1px solid brown;
    float: left;
    background-color: #FADEC8;
    cursor: pointer;
}
.active_learn_tab, .active_wp3_tab, .active_wp1_tab, .active_wp2_tab {
    background-color: #FAC296 !important;
}
.learn_board{
    border: 1px solid red;
}
#boards_tabs{
    display: block;
    height: 35px;
}
.wb1_add_blank_file, .wb3_add_blank_file, .wb2_add_blank_file {
    float: right;
}
.file_treeviewer li a {
    font-size: 12px;
}
.teacher_active_tab{
    border-bottom: 3px solid red !important;
}
.wb4_board_item {
    text-align:center;
}
.tabs_placeholder {
    border: 1px solid green;
    height: 35px;
}